<div
  *ngIf="isVisible"
  class="toast show"
  [ngClass]="{ 'bg-success': isSuccess, 'bg-danger': !isSuccess }"
>
  <div class="toast-header">
    <span
      class="me-2"
      [ngClass]="{
        'bi-check-circle-fill': isSuccess,
        'bi-exclamation-circle-fill': !isSuccess
      }"
    ></span>
    <strong class="me-auto">Notification</strong>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeToaster()"
    ></button>
  </div>
  <div class="toast-body text-white">
    {{ message }}
  </div>
</div>
